@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap');

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url('../../../public/img1.jpg');
  background-size: cover;
  background-position: 50%;
  border-radius: 15px;
}
.branch-form {
  background-color: rgb(0 0 0 / 68%);
  padding: 14px;
  border-radius: 10px;
}
.input-form {
  height: 3rem;
  border-radius: 0.8rem;
  position: relative;
  color: #222;
  font-weight: 400;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.input-form span {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: pointer;
  padding: 0px 10px;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
}
.location-input {
  border: none;
  width: 100%;
}
.icon {
  font-size: 36px;
  padding-left: 16px;
  color: #363636;
}
.link-search {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  text-align: center;
}
.color-gre {
  background-color: #28b16d;
}
.button-research {
  background-color: transparent;
  border: none;
  color: white;
  margin: 5px;
  font-size: 12px;
  font-family: 'Cairo', sans-serif;
}
.popup-fig-left {
  position: absolute;
  padding: 14px;
  background-color: #ffffff;
  top: 58px;
  z-index: 100;
  left: 0;
  width: 90%;
  border-radius: 8px;
}
.popup-fig-right {
  position: absolute;
  padding: 14px;
  background-color: #ffffff;
  top: 58px;
  z-index: 100;
  left: 0;
  width: 90%;
  border-radius: 8px;
}
.popup-fig-right-special {
  position: absolute;
  padding: 14px;
  background-color: #ffffff;
  top: 58px;
  z-index: 100;
  left: 0;
  width: 350px;
  border-radius: 8px;
}
.popup-fig-right-special::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 18px;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom: 0.75rem solid #fff;
  -webkit-filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
.popup-fig-right::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 16px;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom: 0.75rem solid #fff;
  -webkit-filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
.popup-fig-left::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 19px;
  border: 0.75rem solid transparent;
  border-top: none;
  border-bottom: 0.75rem solid #fff;
  -webkit-filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
input:focus-visible {
  outline: none;
  outline-offset: 1px;
}
