.list-add {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
.more-content {
  font-family: 'Cairo', sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #006169;
  font-weight: 700;
}
.card-add {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #bebebe;
  padding: 15px 10px;
}
.link-add {
  font-family: 'Cairo', sans-serif;
  text-decoration: none;
  font-weight: 700;
  margin: 0px 5px;
}
