.bk-card {
  background-image: url('../public/img1.jpg');
}
.col-3 {
  padding: 0px 4px !important;
}
.col-6 {
  padding: 0px 4px !important;
}
.link-route {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Cairo', sans-serif;
  background-color: transparent;
  border: none;
}
.active {
  border-bottom: 2px solid #4e972c;
  font-weight: 800;
  color: black;
}
